<link rel="stylesheet" href="../stylesheet/layouts/footer.css">
<div class="footer">
  <div class="footer_container">
    <div class="footer__content">
      <div class="contact">
        <h4>CONTACT US</h4>
        <span> 2300 W Arbutus 
            <br>Dr Citrus Springs, 
            <br>FL 34434, USA
            <br>contact@hofmannui.net
        </span>
      </div>

      <div class="socials">
        <h4>FOLLOW US</h4>
        <img src="../assest/icons/social 2.png">
      </div>

      <div class="about_us">
        <h4>ABOUT US</h4>
        <p>Hoffman UI Kit was made to help you quickly create beautiful layouts of responsive websites.</p>
      </div>
    </div>  

    <hr>

    <div class="footer__title">
      <div class="footer__text">
        <div class="location">
          <p>&copy; 2016 Hofmann UI Kit</p>
        </div>

        <div class="footer_nar">
          <ul>
            <li>HOME</li>
            <li>SERVICES</li>
            <li>TEAM</li>
            <li>PORTFOLIO</li>
            <li>CONTACT</li>
          </ul>
        </div>
      </div>
      
      <div class="go_on">
        <button><img src="../assest/icons/go-to-top.png"></button>
      </div>
    </div>
  </div>
</div>