<link rel="stylesheet" href="../stylesheet/layouts/main.css">

<div class="main">
  <img src="../assest/desktop/image/Background.png">
  <div class="main__content">
    <div class="tittle">
      <h1>Choosing The Right Boutique Hotel For You</h1>
      <p>How To Fly A Private Jet On Your Next Trip</p>
    </div>

    <div class="search">
      <input type="text" placeholder="Your Email">

      <button class="find">Find Now</button>
    </div>

    <div class="icons">
      <div class="oval">
        <img src="../assest/icons/plane-icon.png">
      </div>

      <div class="oval">
        <img src="../assest/icons/wallet-icon.png">
      </div>

      <div class="oval">
        <img src="../assest/icons/case-icon.png">
      </div>
    </div>
  </div>
</div>